APP_NAME=your_app_name
APP_ENV=development
APP_PORT=8000
APP_HOST="localhost"

CLIENT_ORIGIN=http://localhost:5173

DATABASE_URL=postgresql://user:password@domain-pooler.region.ext/dbName
DIRECT_URL=postgresql://user:password@domain.region.ext/dbName

JWT_SECRET = your_jwt_secret_key
JWT_REFRESH_SECRET = your_jwt_refresh_secret_key
JWT_EXPIRES_IN = "15m"
JWT_REFRESH_EXPIRES_IN = "7d"

GOOGLE_AUTH_CLIENT_ID = your_google_auth_client_id

UPSTASH_REDIS_URL = your_upstash_redis_url