APP_NAME="ORM Integrated Blog API"
APP_PORT=8000

DATABASE_URL="postgresql://pguser:pgpass@dbdomain-pooler/pgdb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://pguser:pgpass@dbdomain/pgdb?sslmode=require&channel_binding=require"